body {
    margin: 0;
    font-family: sans-serif;
    background: #1e1e1e;
    color: #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
}

header {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
} 

.menu-bar {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: start;
    padding: 0.5rem 0;
}

.icon-button {
      background: #333;
      color: #fff;
      border: none;
      padding: 0.75rem 1rem;
      font-size: 1.2rem;
      border-radius: 6px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

.icon-button:hover {
  background: #555;
}

.img-button {
    position: relative;
}

.img-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: #ff5722;
    color: white;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 0.8rem;
}


.styled-div {
    flex: 1;
    padding: 1rem;
    background: #2e2e2e;
    border: 1px solid #444;
    border-radius: 8px;
    overflow-y: auto;
    outline: none;
    font-size: 1rem;
    white-space: pre-wrap;
}

.main-div {
    width: 80%;
    height: 80%;
    display: flex;
}

.hidden {
    flex: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

.visible {
    flex: 1;
    width: 100%;
    opacity: 1;
}

#preview img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0.5rem 0;
    border-radius: 4px;
}
#preview * {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#preview code {
    background: #333;
    padding: 2px 4px;
    border-radius: 4px;
}

#preview pre {
    background: #1a1a1a;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
}
